@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap');

/* font-family: 'Gowun Dodum', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

*{margin: 0; padding: 0;}

a{color: #fff; text-decoration: none;}
ul,li{list-style: none;}

body{
   background-color: #222;
   color: #fff;
   font-family: 'Gowun Dodum', sans-serif;
   font-weight: 300;
}
.scroll-indicator{
   position: fixed;
   left: 0; top: 0;
   height: 10px; 
   background-color: gold;
   z-index: 100;
}


/* nav */
nav{
   position: fixed;
   right: 0; top: 20px;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.4);
   padding: 15px 20px;
   border-radius: 50px;
}
nav ul{display: flex; gap: 20px;}
nav ul li{}
nav ul li a{
   display: block;
   padding: 5px 10px; line-height: 30px;
   text-transform: uppercase;
}
nav ul li.active a{
   background-color: #fff; color: #000;
   border-radius: 20px;
}

#contents{}
#contents .cont_item{
   width: 1000px;
   height: 100vh;
   max-width: 70vw;
   margin: 0 auto ;
   margin-right: 0;
   position: relative;
   padding-top: calc(50vh - 20%);
   box-sizing: border-box;
}
#contents .cont_item:nth-child(2n){
   margin-left: 0;
   text-align: right;
}
.cont_item .num{
   font-size: 35vw;
   position: absolute;
   font-family: 'Lexend Deca', sans-serif;
   font-weight: 100;
   left: -5vw;
   top: calc(50vh - 50%);
   z-index: 20;
   line-height: 1;
}
.cont_item .sec_imgwrap{
   width: 100%; padding-bottom: 56.25%;
   background-color: #000;
   position: relative;
   overflow: hidden;
}
.cont_item .sec_imgwrap .sec_img{
   position: absolute;
   left: -5%; top: -5%;
   width: 120%;
   height: 120%;
   background-repeat: no-repeat;
   background-position: center center; 
   background-size: cover;
   filter:saturate(0%);
   transition:1s;
}

.cont_item .sec_imgwrap .sec_img:hover{
   filter:saturate(100%);
   transform: scale(1.025);
}

.cont_item:nth-child(1) .sec_imgwrap .sec_img{ background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000087/87888/87888221768_727.jpg);}
.cont_item:nth-child(2) .sec_imgwrap .sec_img{ background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000087/87888/87888221767_727.jpg);}
.cont_item:nth-child(3) .sec_imgwrap .sec_img{ background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000087/87888/87888221628_727.jpg);}
.cont_item:nth-child(4) .sec_imgwrap .sec_img{ background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000087/87888/87888221627_727.jpg);}
.cont_item:nth-child(5) .sec_imgwrap .sec_img{ background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000087/87888/87888221626_727.jpg);}
.cont_item:nth-child(6) .sec_imgwrap .sec_img{ background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000087/87888/87888221625_727.jpg);}
.cont_item:nth-child(7) .sec_imgwrap .sec_img{ background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000087/87888/87888221624_727.jpg);}
.cont_item:nth-child(8) .sec_imgwrap .sec_img{ background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000087/87888/87888221623_727.jpg);}
.cont_item:nth-child(9) .sec_imgwrap .sec_img{ background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000087/87888/87888221622_727.jpg);}

.cont_item .desc{
   /* font-size: clamp(최소값, 기본값, 최대값); */
   font-size: clamp(20px, 4vw, 45px);
   line-height: 1.4;
   margin-top: -5vw; margin-left: -4vw;
   z-index: 20;position: relative;
}


/* -------------------🎃section 애니메이션 주기--------------------- */
/* #contents>section{
   opacity: 0;
   transition: 1s;
}
#contents>section.show{
   opacity: 1;
} */

.cont_item .num{
   opacity: 1;
   transform: translateY(200px);
   transition: 1s 0.1s ease;
}
.cont_item.show .num{
   opacity: 1;
   transform: translateY(0px);
}



.cont_item .desc{
   opacity: 1;
   transform: translateX(-200px);
   transition: 1s 0.9s ease;
}
.cont_item:nth-child(even) .desc{
   transform: translateX(200px);
}
.cont_item.show .desc{
   opacity: 1;
   transform: translateX(0);
}
