@charset "UTF-8";

* {margin: 0;padding: 0;}

body {background-color: #0a2a43;}

section {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

section #road{z-index: 100;}

section::before{content: "";
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 100px;
    z-index: 110;
    background-image: linear-gradient(to top, #0a2a43, transparent);
}

section .text{color: #fff; 
    font-size: 10em; /* text의 폰트사이즈*10 */
    position: relative;
}

.content{margin: 100px auto; width: 800px;
    color: #fff;
    flex-direction: column;
    justify-content: flex-start;
}
.content h3{font-size: 40px;
    margin-bottom: 30px;
}
.content p{font-size: 20px; line-height: 30px;}