@charset "UTF-8";

*{margin: 0; padding: 0;}

.pt{height: 100vh; background-color: #374089;
   position: relative;
}
.pt video{
   position: absolute;
   left: 0; top: 0; width: 100%;height: 100%;
}
.pt #particles-js{
   position: relative;
   width: 100%; height: 100%;
   background-color: #fff;
   mix-blend-mode: screen;
}